/* @import "tailwindcss"; */


body{

    margin: 0;
    padding: 0;
   
    

}


.logo{
height: 80px;
width: 80px;
border-radius: 50%;
margin-left: 20px;



}


.heading{

    height: 100px;
    width: 100%;
    /* border: 2px solid black; */
  
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
    background-color: rgb(207, 99, 32);
    color: white;
}

.navbar ul{


    display: flex;
    list-style: none;
   gap: 40px;
   margin-right: 100px;
   

 


}


.navbar ul li{
    padding: 10px;
    font-weight: bold;
}


.bodys{

    margin-top: 50px;
   
}

.seracharea{
    display: flex;
    gap: 40px;
    margin-left: 50px;
}

.search{

        padding: 10px;
        width: 400px;
        border-radius: 40px;
       border: 1px solid black;

}

.btn{
    padding: 4px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid black;
}



.card-container{

    width: 240px;
    height: 300px;
  
  padding: 5px;
   margin: 30px;
}

.card-container:hover{


  border: 1px solid black;
  cursor: pointer;

}



.img2{
    width:240px ;
    height: 150px;
    object-fit: cover;
   
}

.cards{

    display: flex;
    flex-wrap: wrap;
   
    
    
}


.shimmer{

    width:240px ;
    height: 150px;
    background-color:#f0f0f0;

}


.shimmer-cont{

    display: flex;
    flex-wrap: wrap;
     padding: 5px;
     margin: 30px;
 
   gap: 70px
}



.navigate:hover{
    color: rgb(0, 0, 0);
}

.navigate{


 text-decoration: none;
 color: white;


}

.cardlink{
    text-decoration: none;
    color: black;
}

.label{
    background-color: black;
    border-radius: 12px;
    border: 2px solid black;
    color: white;
    padding: 3px;
    margin: 80px 0px 0px 35px
}


.menus{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: small;
    
   
}

.reccom-header{
 

    border-radius: 12px;
    display: flex;
    align-items: center;
  justify-content: space-between;
    padding: 6px;
   

    
     cursor: pointer;
  
   
}

.category{
  width: 700px;
   height: min-content;
 
 background-color: rgba(238, 236, 236, 0.973);

  margin-left: 5%;
  border-radius: 10px;
 
padding: 0px 10px 0px 10px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      margin-bottom: 40px;
      
     
     
     

}

.price{
    margin-top: 20px;
    font-weight: 600;
   
}

.names{

    font-size: large;
    font-weight: 600;
}

.desc{
     border-bottom: 1px solid black;
     margin-bottom: 40px;
}


.bannermenu{
    width: 8rem;
    height: 7rem;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20rem;
    
}

.headitems{
    display: flex;
    gap: 10px;
}

.imghead{
    display: flex;
  justify-content: flex-end;
}